#titleContent{
    height:620px;
    width:100%;
    color:white;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin: 0px 20px 20px 0px;
}
#contentDisc{
    height:620px;
    width:100%;
    color:white;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin: 0px 20px 20px 0px;
}
@media (max-width: 570px) {
    #desktop{
        display:none;
    }
}
@media (min-width: 575px) {
    #mobile{
        display:none;
    }
}
#pick{
    width:100%;
    border-left:1px solid;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
}
#readScroll{
    height:620px;
    border-radius: 10px;
    margin-right: -50px;
    padding-right: 50px; 
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
#mobile{
    width:100%;
    
}
#logDiv {
    margin-top: 5px;
    height: 290px;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 290px;
    border-radius: 15px;
    background-color: rgb(229, 214, 130);
  }
  #createNewSiteInfo {
    border: 1px solid;
    border-radius: 10px;
    margin-top: 9px;
    width: 290px;
    padding: 2px 0px 2px 0px;
  }
  #forget_password {
    font-size: 14px;
    margin-left: 90px;
    text-decoration: none;
  }
  #newLove{
        width: 199px;
        marginTop: 10px;
        borderRadius: 5px;
    
  }
  #err {
    font-size: 10px;
    margin-bottom: 0px;
  }